<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227609386634-nea69dqv48m56dqo0qjula0pjs64kejh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227609386634-nea69dqv48m56dqo0qjula0pjs64kejh</string>
	<key>API_KEY</key>
	<string>AIzaSyC18vXp7KkmcYwztvNEsjdw8xZT8s1GH7I</string>
	<key>GCM_SENDER_ID</key>
	<string>227609386634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opsolutions.iOSTrainingAPICalls</string>
	<key>PROJECT_ID</key>
	<string>junmarckiosproject</string>
	<key>STORAGE_BUCKET</key>
	<string>junmarckiosproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227609386634:ios:372ab80b47a571cdb91773</string>
	<key>DATABASE_URL</key>
	<string>https://junmarckiosproject.firebaseio.com</string>
</dict>
</plist>